.titulo1{
    color: chartreuse;
    font-size: 50px;
    text-align: center;

}
.cuadro1{
background: blue;
text-align: center;
width: 100%;
justify-content: center;
}

.cuadro2{
    background: red;
    width: 25%;
    text-align: center;
    z-index: 10;
}

.cuadroprincipal{
    display:flex;
    justify-content: center;
}

.cuadro3{
    background: coral;
    margin-right: 40px;
    width:30%;
    z-index: 10;
}

html{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.cuadroredessociales{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background: rgb(240, 182, 35);
font-size: larger;
text-align: center;
margin-bottom: 100px;
width: 500px;
margin:auto;
z-index: 10;
position: relative;
}

.redes1{
    text-align: center;
    z-index: 10;
 }

.redes2{
    text-align: center;
    z-index: 10;
}

.botones{
    z-index:50;
    position:relative;
    text-align: center;
}

.imagenpape{
    width: 100%;
position: absolute;
object-fit: cover;
}

.cartas{ 

display:flex;
text-align:center;
}

.textocartas1{
    margin-top: 70px;
    text-align: center;
}

.textocartas2{
    margin-top: 70px;
    text-align: center;
}

.cuadrosecundario{
    margin-top: 40%;
    display: flex;
text-align: center;
font-size: large;
width: 100%;}